/** {
    border: 1px solid black;
}*/

html {
    font-family: 'Roboto' sans-serif;
    box-sizing: border-box;
    margin: 0;
}

* {
    box-sizing: inherit;
}

body {
    background-color: #ddd;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 8px;
    min-height: 100vh;
}

#btn-container {
    display: flex;
    gap: 10px;
}

.btn {
    width: 10%;
    min-width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #ccc;
    font-weight: bold;
    border-radius: 5px;
    transition: border 0.4s ease-out;
}

.btn:hover {
    cursor: pointer;
    border: 2px solid #24a777;
}

.message {
    font-size: 18px;
    margin: 0;
}

#main-container {
    flex: 1;
    width: 100%;
    border: 2px solid #ccc;
    display: grid;

    /*test*/
    height: 500px;
    /*border: 1px solid black;*/
}

.card {
    background-color: #fff;
    transition: background-color 0.2s linear;
}

.card-hover {
    background-color: #000;
}